# override kernel defconfig here

CONFIG_ARM_THUMBEE=y
# CONFIG_BROADCOM_WIFI is not set
CONFIG_BT_BLUESLEEP=y

CONFIG_DEBUG_FS=y

# CONFIG_USB_ARMLINUX is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
USB_USBNET=y
USB_NET_CDCETHER=y
USB_NET_CDC_EEM=y
USB_NET_CDCNCM=y
USB_NET_RNDIS_HOST=y
CONFIG_INPUT_KEYCHORD=y

# Linux 3 sensors backport
CONFIG_INPUT_YAS_SENSORS=y

CONFIG_SENSORS_CORE=y
# native sensors, without MPU
CONFIG_SENSORS_AK8975=y
CONFIG_SENSORS_KXTF9=y
# CONFIG_MPU_NONE is not set
CONFIG_MPU_SENSORS_MPU3050=y
# CONFIG_MPU_SENSORS_MPU6000 is not set
# CONFIG_MPU_SENSORS_KXTF9 is not set
CONFIG_MPU_SENSORS_AK8975=y
CONFIG_MPU_SENSORS_TIMERIRQ=y
# CONFIG_MPU_SENSORS_DEBUG is not set


# hdmi mhl, to check later
## CONFIG_MHL_SII9234=y
## CONFIG_MHL_SWITCH=y

# nfc, to check
## CONFIG_PN544=y
