# override kernel defconfig here

# CONFIG_BROADCOM_WIFI is not set
CONFIG_DEBUG_FS=y

# Linux 3 backport
CONFIG_INPUT_YAS_SENSORS=y
# Dont include native akm, use a module
CONFIG_SENSORS_AK8975=m

# hdmi mhl, to check later
# CONFIG_MHL_SII9234=y
# CONFIG_MHL_SWITCH=ya

# too much logs (i2c-58)
## CONFIG_MPU_SENSORS_DEBUG=y

