# override kernel defconfig here

CONFIG_ARM_THUMBEE=y
# CONFIG_BROADCOM_WIFI is not set
## CONFIG_BT_BLUESLEEP=y
CONFIG_BT_HCIUART_BCSP=y

CONFIG_DEBUG_FS=y

CONFIG_APANIC=y
CONFIG_APANIC_PLABEL="kpanic"
CONFIG_APANIC_MMC=y
# CONFIG_APANIC_MMC_MEMDUMP is not set
CONFIG_CMDLINE="mem=511M@0M secmem=1M@511M mem=512M@512M vmalloc=256M fota_boot=false tegra_fbmem=800K@0x18012000 video=tegrafb console=ram usbcore.old_scheme_first=1 lp0_vec=8192@0x1819E000 emmc_checksum_done=true emmc_checksum_pass=true tegraboot=sdmmc gpt mmcparts=mmcblk0:p1(efs),p2(system),p3(cache),p4(emmc),p5(misc),p6(userdata),p7(modem),p8(recovery),p9(boot),p10(kpanic),p11(preload);mmcblk1:p1(sdcard)"

# CONFIG_USB_ARMLINUX is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_EEM=y
CONFIG_USB_NET_CDCNCM=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_INPUT_KEYCHORD=y

# Linux 3 sensors backport
CONFIG_INPUT_YAS_SENSORS=y

CONFIG_SENSORS_CORE=y
# native sensors, without MPU
CONFIG_SENSORS_AK8975=y
CONFIG_SENSORS_KXTF9=y
# CONFIG_MPU_NONE is not set
CONFIG_MPU_SENSORS_MPU3050=y
# CONFIG_MPU_SENSORS_MPU6000 is not set
# CONFIG_MPU_SENSORS_KXTF9 is not set
CONFIG_MPU_SENSORS_AK8975=y
CONFIG_MPU_SENSORS_TIMERIRQ=y
# CONFIG_MPU_SENSORS_DEBUG is not set


# hdmi mhl, to check later
## CONFIG_MHL_SII9234=y
## CONFIG_MHL_SWITCH=y

# nfc, to check
## CONFIG_PN544=y
