# override kernel defconfig for stock rom here

# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_LOCALVERSION=""
CONFIG_KERNEL_LZMA=y
# CONFIG_KERNEL_GZIP is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

# Overclocking
CONFIG_TEGRA_CPU_FREQ_SET_MIN_MAX=y
CONFIG_TEGRA_CPU_FREQ_MAX=1300000
CONFIG_TEGRA_CPU_FREQ_MIN=234000

CONFIG_ARM_THUMBEE=y
# CONFIG_BROADCOM_WIFI is not set
# CONFIG_DEBUG_FS is not set

# CONFIG_SENSORS_KXTF9 is not set
CONFIG_MPU_SENSORS_KXTF9=y

CONFIG_SND_VOODOO=y
CONFIG_SND_VOODOO_FM=y
CONFIG_SAMSUNG_FM_SI4709=y

CONFIG_CRYPTO_SHA1_ARM=y
CONFIG_CRYPTO_AES_ARM=y

CONFIG_CMDLINE_APPEND=y
CONFIG_CMDLINE="mem=511M@0M secmem=1M@511M mem=512M@512M vmalloc=256M fota_boot=false video=tegrafb console=ram usbcore.old_scheme_first=1 emmc_checksum_done=true emmc_checksum_pass=true tegraboot=sdmmc gpt mmcparts=mmcblk0:p1(EFS),p2(APP),p3(CAC),p4(IMS),p5(MSC),p6(UDA),p7(MDM),p8(SOS),p9(LNX),p10(OTA),p11(HID); "

# CONFIG_WLAN_VENDOR_BCM is not set
